.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App h2 {
  color: white;
}

.AQIContainer {
  display: grid;
  grid-template-columns: 50% 60%;
  max-width: 1024px;
  grid-column-gap: 1.5rem;
  -webkit-column-gap: 1.5rem;
  column-gap: 3rem;
  padding: 2rem;
  margin: 3rem auto;
}

.chartBarContainer {
  padding: 1rem 3rem;
}
