.App {
  text-align: center;
}

.AQIContainer {
  display: grid;
  grid-template-columns: 50% 60%;
  max-width: 1024px;
  grid-column-gap: 1.5rem;
  -webkit-column-gap: 1.5rem;
  column-gap: 1.5rem;
  padding: 2rem;
  margin: 3rem auto;
  height: 60vh;
}
